@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Urbanist", sans-serif;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

a {
    text-decoration: none;
    color: black;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}

@layer components {
    .navbar-active #hamburger div:first-child {
        @apply translate-y-1.5 rotate-45;
    }

    .navbar-active #hamburger div:last-child {
        @apply -translate-y-1 -rotate-45;
    }

    .navbar-active #layer {
        @apply origin-top scale-y-100;
    }

    .navbar-active #navlinks {
        @apply visible block scale-100 opacity-100 lg:flex lg:translate-y-0;
    }
}

.st0 {
    @apply fill-secondaryLight;
}
